<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products Page</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/product.css" />
</head>
<body>
  <nav>
    <ul>
      <li> 
        <form action="/" method="get">
          <button type="submit">Home</button>
        </form>
      </li>
      <li>
        <form action="/product" method="get">
          <button type="submit">All</button>
        </form>
      </li>
      <% categories.forEach(category => { %>
        <li>
          <form action="/product" method="get">
            <input type="hidden" name="category" value="<%= category.toLowerCase() %>">
            <button type="submit"><%= category.charAt(0).toUpperCase() + category.slice(1) %></button>
          </form>
        </li>
      <% }) %>
    </ul>
  </nav>
  
  <h1>Product List</h1>
  <div class="edit">
    <form action="/product/category" method="get">
      <button type="submit">Edit Categories</button>
    </form>
    <form action="/product/add" method="get">
      <button type="submit">Add Product</button>
    </form>
  </div>
  <div class="product-list">
    <% products.forEach(product => { %>
      <% if (product.name) { %>
        <div class="product">
          <h2><%=product.name %></h2>
          <p>Amount: <%=product.amount %></p>
          <form action="/product/update/<%= product.id %>" method="get">
            <button type="submit">Update</button>
          </form>
          <form action="/product/delete/<%= product.id %>" method="post">
            <button type="submit">Delete</button>
          </form>
        </div>
      <% } %>
    <% }) %>
  </div>
</body>
</html>
